.feed {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedWrapper {
    padding: 15px 70px;
}

.postWrapper {
    width: 480px;
    margin: auto;
}

.progress-circle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}