.changeAvatarSet {
    display: flex;
}

.changeAvatarImg {
    width: 280px;
    height: 280px;
    padding: 10px;
    border-radius: 50%;
    border-color: white;
    display: flex;
    margin: auto;
}